@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Bungee';
        font-style: normal;
        font-weight: 400;
        src: url(/BungeeTint-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Teko';
        font-style: normal;
        font-weight: 400;
        src: url(/Teko-VariableFont_wght.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Amsterdam';
        font-style: normal;
        font-weight: 400;
        src: url(/NewAmsterdam-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Geist';
        font-style: normal;
        font-weight: 400;
        src: url(/Geist-SemiBold.ttf) format('truetype');
        src: url(/Geist-SemiBold.otf) format('opentype');
    }
    @font-face {
        font-family: 'GeistReg';
        font-style: normal;
        font-weight: 400;
        src: url(/Geist-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'GeistMed';
        font-style: normal;
        font-weight: 400;
        src: url(/Geist-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: 'GeistBold';
        src: url(/Geist-Bold.ttf) format('truetype');
    }
}