.markdown * {
    font-size: 1.1rem;
    margin: 0.75rem;
}

.markdown h1 {
    font-size: 2rem;
}
.markdown h2 {
    font-size: 1.8rem;
}
.markdown h3 {
    font-size: 1.6rem;
}
.markdown h4 {
    font-size: 1.4rem;
}
.markdown h5 {
    font-size: 1.2rem;
}

.markdown code {
    background-color: white;
    padding: 0.3rem;
    margin: 0;
    color: black;
    border-radius: 0.4rem;
}
.markdown strong {
    margin: 0;
    font-weight: normal;
    font-family: 'GeistBold';
}
.markdown a {
    display: block;
    text-decoration: underline;
}
.markdown a::before {
    content: "> ";
}
.markdown a:hover {
    color: #A7D5FF;
}
.markdown ul {
    list-style: disc;
}
.markdown ol {
    list-style: decimal;
}
.markdown em {
    display: inline-flex;
}
.markdown blockquote {
    font-style: italic;
    background-color: #E0E0E0;
    padding: 0.23rem;
    border-radius: 0 1rem 1rem 0;
    color: #1C1C1C;
    border-left: 0.7rem solid #7A7A7A;
}